@model List<DevFolio.Models.TblContact>
@{
    ViewBag.Title = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Gelen Mesajlar Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim Soyisim</th>
        <th>Mail Adresi</th>
        <th>Konu</th>
        <th>Gönderim Tarihi</th>
        <th>Okundu Mu?</th>
        <th>Mesajı Oku</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@(((DateTime)item.SendMessageDate).ToString("dd.MMM.yyyy"))</td>
            <td>
                @if (@item.IsRead == true)
                {
                    <span class="badge badge-primary">Okundu</span>
                }
                else
                {
                    <span class="badge badge-danger">Okunmadı</span>
                }
            </td>
            <td><a href="/Contact/ReadMessage/@item.ContactID" class="btn btn-info">Oku</a></td>
            <td><a href="/Contact/DeleteMessage/@item.ContactID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>